<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ProyectoEmpleadosConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ProyectoEmpleados.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBProyEmpConnectionString1" connectionString="Data Source=DBProyEmp.mssql.somee.com;Initial Catalog=DBProyEmp;User ID=chwex_SQLLogin_2; pwd=kmcun3c6te;"
            providerName="System.Data.SqlClient" />
        <add name="DBProyEmpConnectionString" connectionString="Data Source=DBProyEmp.mssql.somee.com;Initial Catalog=DBProyEmp;User ID=chwex_SQLLogin_2;Password=kmcun3c6te"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off"/>

    </system.web>
  
    <appSettings>
      <add key="connectionString" value="workstation id=DBProyEmp.mssql.somee.com;packet size=4096;user id=chwex_SQLLogin_2;pwd=kmcun3c6te;data source=DBProyEmp.mssql.somee.com;persist security info=False;initial catalog=DBProyEmp"/>
    </appSettings>

</configuration>
